.detailImage{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
.bookingForm{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.formDescription{
    margin: 1% 4% 2%;

}