
.imageIndex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
      
}
.card-image{
    border-radius: 25%;
    position: relative;
  
    box-shadow: 10px 10px 10px grey;
}
.destinationImages{    
    width: 150px;
    height: 150px;    
    border-radius: 25%;
    display: block;
    
  
        
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  
  
  /* When you mouse over the container, fade in the overlay title */
  .card-image:hover .overlay  {
    opacity: 1;
  }
.destinationImages:hover{
    /* background: rgba(0, 0, 0, 0.5);
    opacity: 1; */
}
.searchBar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    display: grid;
    
}
.searchText{
    width: 400px;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 16px;
    padding: 10px;
    background-color: #f1f1f1;
    margin: auto;    
}
.viewmore{
    display: grid;
    place-items: center;
}
.content{
    height: 750px;
}
input.searchText:focus {
    outline-width: 0;
}