html {
    height: 100%;    
    scroll-behavior: smooth;
}
body {
    margin: 0%;
    min-height: 100%;
    background-color: #e0e0e0;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.destinationImages{
    
    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;    
}
.imageIndex{
   
    margin: 0% 15%;
}
.socialImage{
    width: 22px;
    height: 20px;
}
header,footer{
    background-color: rosybrown;
}
.searchBar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}