

.destinationImages{
    
    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;    
}
.imageIndex{
   
    margin: 0% 15%;
}

.searchBar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    display: grid;
    
}
.searchText{
    width: 400px;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 16px;
    padding: 10px;
    background-color: #f1f1f1;
    margin: auto;    
}
.viewmore{
    display: grid;
    place-items: center;
}
.content{
    height: 750px;
}