.imageList{
    height: 200px;
    width: 250px;   
    
}
.listImg{
    background-color: lightgrey;
    margin: 2%;
    width: 40%;
    height: 200px;
    float: left;
    
}

.listImg:hover{
    background-color: rosybrown;
}
.image-right{
    padding-left: 50%;
}
li{
    display: inline;
    padding-left: 10px;   
}
.listofunorder{
    text-align: center;
}
.content{
    margin-top: 7%;
}